<div class="error-message" id="error-block" tpl-if="$errors">
    <tpl tpl-foreach="$errors as $error">{{ $error }}<br></tpl>
</div>

<form method="post">
    <input tpl-if="$book" type="hidden" name="id" value="{{ $book->id }}">
    <div class="flex-input-box">
        <div class="flex-label">
            <label for="title">Pealkiri:</label>
        </div>
        <div class="flex-input">
            <input type="text" id="title" name="title" value="{{ $book->title }}">
        </div>
        <div class="flex-break"></div>
        <div class="flex-label">
            <label for="author1">Autor 1:</label>
        </div>
        <div class="flex-input">
            <select id="author1" name="author1">
                <option tpl-selected="(!$author1 || $author1 === '') && !$book" value=""></option>
                <tpl tpl-foreach="$authors as $author">
                    <option tpl-selected="$author1 && intval($author1) === $author->id || $book && $author->id === $book->getFirstAuthorId()" value="{{ $author->id }}">{{ $author->firstName }} {{ $author->lastName }}</option>
                </tpl>
            </select>
        </div>
        <div class="flex-break"></div>
        <div class="flex-label">
            <label for="author2">Autor 2:</label>
        </div>
        <div class="flex-input">
            <select id="author2" name="author2">
                <option tpl-selected="(!$author2 || $author2 === '') && !$book" value=""></option>
                <tpl tpl-foreach="$authors as $author">
                    <option tpl-selected="$author2 && intval($author2) === $author->id || $book && $author->id === $book->getSecondAuthorId()" value="{{ $author->id }}">{{ $author->firstName }} {{ $author->lastName }}</option>
                </tpl>
            </select>
        </div>
        <div class="flex-break"></div>
        <div class="flex-label">Hinne:</div>
        <div class="flex-input">
            <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                <label>
                    <input type="radio" name="grade" value="{{ $grade }}" tpl-checked="$book && $book->grade === $grade">{{ $grade }}
                </label>
            </tpl>
        </div>
        <div class="flex-break"></div>
        <div class="flex-label">
            <label for="read">Loetud:</label>
        </div>
        <div class="flex-input">
            <input type="checkbox" id="read" name="isRead" tpl-checked="$book && $book->isRead">
        </div>
        <div class="flex-break"></div>
        <div class="flex-label"></div>
        <div class="flex-input flex-button">
            <input type="submit" name="deleteButton" value="Kustuta" formaction="?cmd=delete_book" tpl-if="$edit">
            <input type="submit" name="submitButton" value="Salvesta" formaction="?cmd=add_book_save" tpl-if="!$edit">
            <input type="submit" name="submitButton" value="Salvesta" formaction="?cmd=edit_book_save" tpl-if="$edit">
        </div>
        <div class="flex-break"></div>
    </div>
</form>