<div class="error-message" id="error-block" tpl-if="$errors">
  <tpl tpl-foreach="$errors as $error">{{ $error }}<br></tpl>
</div>


<form method="post">
  <input tpl-if="$author" type="hidden" name="id" value="{{ $author->id }}">
  <div class="flex-input-box">
    <div class="flex-label">
      <label for="firstName">Eesnimi:</label>
    </div>
    <div class="flex-input">
      <input type="text" id="firstName" name="firstName" value="{{ $author->firstName }}">
    </div>
    <div class="flex-break"></div>

    <div class="flex-label">
      <label for="lastName">Perekonnanimi:</label>
    </div>
    <div class="flex-input">
      <input type="text" id="lastName" name="lastName" value="{{ $author->lastName }}">
    </div>
    <div class="flex-break"></div>

    <div class="flex-label">Hinne:</div>
    <div class="flex-input">
      <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
        <label>
          <input type="radio" name="grade" value="{{ $grade }}" tpl-checked="$author && $author->grade === $grade">{{ $grade }}
        </label>
      </tpl>
    </div>
    <div class="flex-break"></div>

    <div class="flex-label"></div>
    <div class="flex-input flex-button">
      <input type="submit" name="deleteButton" value="Kustuta" formaction="?cmd=delete_author" tpl-if="$edit">
      <input type="submit" name="submitButton" value="Salvesta" formaction="?cmd=add_author_save" tpl-if="!$edit">
      <input type="submit" name="submitButton" value="Salvesta" formaction="?cmd=edit_author_save" tpl-if="$edit">
    </div>
    <div class="flex-break"></div>
  </div>
</form>