<div class="successful-message" id="message-block" tpl-if="$m">
    <tpl tpl-if="$m === 'saved'">Lisatud!<br></tpl>
    <tpl tpl-if="$m === 'updated'">Uuendatud!<br></tpl>
    <tpl tpl-if="$m === 'deleted'">Kustutatud!<br></tpl>
</div>

<div class="flex-container">
    <div class="flex-header flex-title">Eesnimi</div>
    <div class="flex-header flex-author">Perekonnanimi</div>
    <div class="flex-header flex-grade">Hinne</div>
    <div class="flex-break flex-header-line"></div>

    <tpl tpl-foreach="$authors as $author">
        <div class="flex-title">
            <a href="?cmd=edit_author&id={{ $author->id }}">{{ $author->firstName }}</a>
        </div>
        <div class="flex-author">{{ $author->lastName }}</div>
        <div class="flex-grade grade-empty">
            <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                <span tpl-class="grade-filled if $author->grade >= $grade">★</span>
            </tpl>
        </div>
        <div class="flex-break"></div>
    </tpl>
</div>