<div class="successful-message" id="message-block" tpl-if="$m">
    <tpl tpl-if="$m === 'saved'">Lisatud!<br></tpl>
    <tpl tpl-if="$m === 'updated'">Uuendatud!<br></tpl>
    <tpl tpl-if="$m === 'deleted'">Kustutatud!<br></tpl>
</div>

<div class="flex-container">
    <div class="flex-header flex-title">Pealkiri</div>
    <div class="flex-header flex-author">Autorid</div>
    <div class="flex-header flex-grade">Hinne</div>
    <div class="flex-break flex-header-line"></div>

    <tpl tpl-foreach="$books as $book">
        <div class="flex-title">
            <a href="?cmd=edit_book&id={{ $book->id }}">{{ $book->title }}</a>
        </div>
        <div class="flex-author">
            <tpl tpl-foreach="$book->authors as $author">
                {{ $author->firstName }} {{ $author->lastName }}<tpl tpl-if="!$last">, </tpl>
            </tpl>
        </div>
        <div class="flex-grade grade-empty">
            <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                <span tpl-class="grade-filled if $book->grade >= $grade">★</span>
            </tpl>
        </div>
        <div class="flex-break"></div>
    </tpl>
</div>