<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>HW6</title>
    <link href="Project/styles.css" rel="stylesheet">
</head>
<body id="{{ $body }}">
<div class="grid-container">
    <nav>
        <a href="?cmd=book_list" id="book-list-link">Raamatud</a>
        |
        <a href="?cmd=add_book" id="book-form-link">Lisa raamat</a>
        |
        <a href="?cmd=author_list" id="author-list-link">Autorid</a>
        |
        <a href="?cmd=add_author" id="author-form-link">Lisa autor</a>
    </nav>
    <main tpl-include="{{ $template }}">
    </main>
    <footer>ICD0007 Vstepa näidisrakendus</footer>
</div>
</body>
</html>