* {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    min-width: 30rem;

    font-size: 25px;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-rows: 2.7rem auto 2.7rem;
    grid-row-gap: 2rem;
    min-height: 98vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-title {
    flex-basis: 34%;
    padding-right: 0.7rem;
    word-wrap: anywhere;
}

.flex-author {
    flex-basis: 51%;
    padding-right: 0.7rem;
    word-wrap: anywhere;
}

.flex-grade {
    flex-basis: 15%;
    word-wrap: anywhere;
}

.flex-header {
    font-weight: bold;
}

.grade-filled {
    color: #ecd125;
}

.flex-break {
    flex-basis: 100%;
    height: 0.75rem;
}

.flex-header-line {
    height: 0.3rem;
    background-color: #60a11d;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.flex-input-box {
    display: flex;
    width: 33rem;
    margin: 2rem auto;
    flex-wrap: wrap;
}

.flex-label {
    width: 13rem;
    text-align: right;
    padding-right: 1rem;
    height: 2rem;
}

.flex-input {
    height: 2rem;
}

.flex-button {
    width: 15rem;
    text-align: right;
    padding-top: 3rem;
}

input[type="text"], select {
    width: 15rem;
    height: 2rem;
    border-radius: 0.6rem;
    border-width: 1px;
}

input[type="submit"] {
    background-color: #519b03;
    border-radius: 0.6rem;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    border-width: 0;
    padding: 0.5rem;
}

.grade-empty {
    color: gray;
}

nav, footer {
    border-style: solid;
    border-width: 1px;
    border-color: #60a11d;
    border-radius: 0.6rem;

    background-color: #a9e769;

    padding-left: 0.6rem;
    padding-top: 0.4rem;
}

.error-message {
    border-style: solid;
    border-width: 1px;
    border-color: #880202;
    border-radius: 0.6rem;

    background-color: #d00b1d;

    padding-left: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.successful-message {
    border-style: solid;
    border-width: 1px;
    border-color: #0b1f6b;
    border-radius: 0.6rem;

    background-color: #39bdee;

    padding-left: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    margin-bottom: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}