<div id="author-list">

    <div class="title-cell header-cell">Pealkiri</div>
    <div class="author-cell header-cell">Autorid</div>
    <div class="grade-cell header-cell">Hinne</div>

    <div class="flex-break header-divider"></div>

    <tpl tpl-foreach="$books as $book">
        <div>
            {{ $book->title }}
        </div>
        <div>
            <tpl tpl-foreach="$book->authors as $author">
                {{ $author->firstName }}
                {{ $author->lastName }}<tpl tpl-if="!$last">, </tpl>
            </tpl>
        </div>
        <div class="score-empty">
            <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                <span tpl-class="score-filled if $book->grade >= $grade">&#9733;</span>
            </tpl>
        </div>
        <div class="flex-break"></div>
    </tpl>
</div>
