<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <title></title>
</head>
<body>

<main>
    <tpl tpl-include="{{ $contentPath }}"></tpl>
</main>

</body>
</html>
